html {

}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 1024px;
  font-size: 14pt;
  background-color: #242327;
  color: #e4e4e4;
  line-height: 135%;
}

a {
  color: #3c7faf;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #a0ddff;
}

div.code {
  color: #ffffff;
  background-color: #181818;
  border-left: 4px dotted black;
  margin: 16px 24px;
  padding: 8px;
}

pre {
  line-height: normal;
  overflow: auto;
}

pre.rust .keyword {
  color: #fb660a;
  /*font-weight: bold*/
}

pre.rust .operator {
  color: #aaaaaa;
}

pre.rust .ident {
  color: #ffffff;
}

pre.rust .string {
  color: #0086d2;
}


